<%= turbo_stream.remove(@todo_item) %>
<%= turbo_stream.update "flash_messages" do %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Task deleted successfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if @todo_list.todo_items.none? %>
  <%= turbo_stream.update "complete_all_button", "" %>
  <%= turbo_stream.update "todo_items" do %>
    <p class="text-muted mb-3">No tasks listed</p>
  <% end %>
<% end %>
