<h1 class="h3 mb-3"><%= @todo_list.name %></h1>

<ul class="list-group mb-3">
  <%= render @todo_list.todo_items %>
</ul>

<div class="d-flex gap-2">
  <%= link_to 'Add Item', new_todo_list_todo_item_path(@todo_list), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back', todo_lists_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>
